<div class="banner">
    <img src="/images/banner.png" alt="Nhà đẹp Gia Lai" />
</div>
<div class="menu header-menu">
    <ul class="menu-items">
        <li>
            <a href="/">Trang chủ</a>
        </li>
        <li>
            <a href="/gioithieu.html">Giới thiệu</a>
        </li>
        <li>
            <a href="/baogiathietke.html">Báo giá thiết kế - thi công</a>
        </li>
        <li>
            <a href="/congtrinhdathicong.html">Công trình đã thi công</a>
        </li>
        <li>
            <a href="/noithat.html">Nội thất</a>
        </li>
        <li>
            <a href="/tuvanlamnhaphongthuy.html">Tư vấn làm nhà - phong thuỷ</a>
        </li>
        <li>
            <a href="/lienhe.html">Liên hệ</a>
        </li>
    </ul>
</div>
